{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- static css -->
    <link rel="stylesheet" href="{% static 'css/main1.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <title>ABOUT PAGE</title>
  
</head>




<body class="text-center">
  



<div class="container mt-8">
<div class="row mb-6">



    <div class="col-md-10">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><h3 class="mb-2">MEDICARE HEALTH CENTER</h3></strong>


          

         
         
          <p class="card-text mb-auto">Our aim is  “to bring healthcare of international standards within the reach of every individual.
          Our Clinic is committed to not only providing consistently superior quality health care services but also addressing the day-to-day health care needs of the family. 
           To maximize convenience and comfort, our Clinic is an integrated model and offers facilities for Specialist Consultation, Diagnostics, Preventive Health Checks and Pharmacy, all under one roof.
             <br> <br>

             The hospital features a 24-hour Emergency Room<br>
              5 operating theatres.<br>
              Five types of intensive care units.
              (Medical,Surgical,Cardiac,Cardiothoracic,Neonatal.)<br>
              Surgical facilities include cardiac catheterization labs
              A surgical navigation system plus endoscopy  Arthroscopy<br>
             Interventional radiology capabilities.<br>
               <br>
            The hospital provides specialty medical services in Cardiology/ Cardiothoracic Surgery, Brain & Spine care, Orthopaedics & trauma,
           Women and Child Care, GI /Laparoscopy Surgery, Urology & Nephrology , Paediatric, Internal Medicine, Critical care Medicine, General surgery,  Dermatology, ENT, Ophthalmology, Dental & Maxillofacial Surgery, Reconstructive Surgery etc.
             </p>



            
          

       
          
        </div>
     
        <div class="col-auto d-none d-lg-block">
          <img  class="bd-placeholder-img" src="/static/images/abt.jpg">
 

        </div>
      </div>

      <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>
    </div>


   



