{% extends 'basic.html' %}
{% load static %}

{% block title %}
contact page
{%endblock title %}

{%block body%}

<div class="container mt-3">
<form action="/contact" method="POST">{% csrf_token %}
            
          

<h3><span class="badge badge-primary mb-2">contact blog admin</span></h3>
            
<input type="text" id="name" name="name" class="form-control  mt-2" placeholder="enter your name" required>
            
<input type="email" id="email" name="email" class="form-control mt-2 "placeholder="enter your email" required>
            
<input type="number" id="num" name="num" class="form-control mt-2 "placeholder="enter your number" required>
            
<textarea class ="form-control mt-2" id="desc" name="desc"  placeholder="How can i help you?"  rows="3" required></textarea>
<br>
<button class="btn btn-sm btn-primary btn-block"type="submit">submit</button>
            
</form>

</div>

{%endblock body %}

   
   
