{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href={% static 'css/main1.css' %} rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    
  </head>
  <body>
    <div class="container">
    <header class="bg-success p-4 text-white text-center">
        <h3>RECEPTIONIST</h3>
    </header>
    
    <table class="table table-striped table-bordered  table-hover table-condensed">
        <th>SL.NO</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>CONTACT.NO</th>

        <tr>
            <td>1</td>
            <td>ROOPA.B</td>
            <td>roo@gmail.com</td>
            <td>080-6556556</td>
        </tr>

         <tr>
            <td>2</td>
            <td>DRUVA</td>
            <td>druva@gmail.com</td>
            <td>080-8989890</td>
        </tr>

         <tr>
            <td>3</td>
            <td>SAKSHI.BS</td>
            <td>bs@gmail.com</td>
            <td>080-7897896</td>
        </tr>

         <tr>
            <td>4</td>
            <td>VICKY.J</td>
            <td>vik02@gmail.com</td>
            <td>080-3654567</td>
        </tr>







  </body>
  </html>